// CARD

// Default component settings
$component-header-height: 60px;
$component-header-width: 100%;
$component-header-background-color: #1190CD;
$component-header-title-font-size: 24px;

// Global component settings
@import 'app/styles/settings';

// Component style
.card-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.no-result {
  font-size: 25px;
  text-align: center;
  display: block;
  margin-top: 60px;
  color: #979797;

  .icon {
    font-size: 36px;
  }
}
