// CARD

// Default component settings
$component-card-color: #999;
$component-card-id-color: #878787;
$component-card-id-background-color: #FFF;
$component-card-id-border: solid 1px #E5E5E5;
$component-card-title-font-size: 18px;
$component-card-title-font-weight: 400;
$component-card-title-color: #444;
$component-card-title-line-height: 1.3;
$component-card-description-font-size: 14px;
$component-card-description-color: #999;
$component-card-description-line-height: 21px;
$component-card-footer-border: 1px solid #e5e5e5;
$component-card-footer-background-color: #FAFAFA;
$component-card-image-background-color: #FAFAFA;

// Global component settings
@import 'app/styles/settings';

// Component style
.card {
  padding: 0;
  display: flex;
  height: 223.6px;


  .card-images {
    float: left;
    max-width: 297.7px;
    width: 100%;
    min-width: 217.7px;
    height: 223.6px;
    overflow: hidden;
    position: relative;
    background-color: $component-card-image-background-color;
    border-radius: 2px 0 0 2px;

    figure {
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        height: 100%;
      }
    }
  }
  .image-placeholder {
    position: absolute;
    opacity: .1;
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -74px;
    font-size: 140px;
    color: $component-card-color;
  }
  .card-price {
    width: 120px;
    height: 32px;
    position: absolute;
    bottom: 10px;
    left: 12px;
    font-size: 23.1px;
    font-weight: 600;
    line-height: 1.39;
    color: #ffffff;
  }

  .card-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-info {
    flex: 1;
    float: left;
    max-height: 173.6px;
  }

  .card-id {
    width: 55px;
    height: 18px;
    padding: 0 6px;
    margin-left: 16px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: $component-card-id-color;
    border-radius: 2px;
    background-color: $component-card-id-background-color;
    border: $component-card-id-border;
  }

  .card-title {
    margin: 12.6px 0 3px 16px;
    color: $component-card-title-color;
    line-height: $component-card-title-line-height;
    font-size: $component-card-title-font-size;
    font-weight: $component-card-title-font-weight;
  }

  .card-description {
    margin: 12.6px 0 3px 16px;
    color: $component-card-description-color;
    line-height: $component-card-description-line-height;
    font-size: $component-card-description-font-size;
    max-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card-footer {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 10px 5px 5px 16px;
    overflow: hidden;
    border-top: $component-card-footer-border;
    background-color: $component-card-footer-background-color;
  }
  .card-specifications {
    display: flex;
    flex: 1;
    float: left;
    padding: 0;
    margin: 0;
    align-content: flex-start;
    list-style: none;
  }
  .card-specification-item {
    display: block;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0 2%;
    margin: 0;
    .icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
      color:$component-card-footer-background-color;
      background-color:  $component-card-color;
    }
    .label {
      display: block;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      white-space: nowrap;
      color: $component-card-color;
    }
  }
  .card-actions {
    float: right;
    width: 40%;
    max-width: 145px;
    min-width: 145px;

    .view-more {
      float: right;
      white-space: nowrap;
    }
  }

  @media screen and (max-width: 1084px) {
    .card-images {
      width: 60%;
    }
  }
}
