// FILTER

// Default component settings
$component-filter-box-width: 230px;
$component-filter-box-min-height: 312px;
$component-filter-box-title-font-size: 16px;
$component-filter-box-title-color: #666;
$component-filter-box-color: #999;
$component-filter-border-color: #979797;

// Global component settings
@import 'app/styles/settings';

// Component style
.filter-box {
  flex: 0 0 $component-filter-box-width;
  min-width: $component-filter-box-width;
  min-height: 312px;
  color: $component-filter-box-color;

  label {
    display: block;
    height: 18px;
    font-size: 12px;
    text-transform: uppercase;
  }

  input {
    height: 36px;
    width: 95px;
    padding: 0 10px;
    font-size: 12px;
    border: 1px solid $component-filter-border-color;
    border-radius: 2px;
    color: $component-filter-box-color;
    transition: opacity .2s linear;
    &:disabled {
      opacity: .2;
      ~ .join {
        opacity: .2;
      }
    }
  }

  .filter-title {
    display: block;;
    margin: 0 15px 15px;
    font-size: $component-filter-box-title-font-size;
    color: $component-filter-box-title-color;
  }
  .filter-section {
    height: 87px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border-bottom: none;
    }
  }
  .join {
    float: left;
    height: 50px;
    border-bottom: 1px solid $component-filter-border-color;
    width: 13px;
    margin-left: -13px;
    transition: opacity .3s linear;
  }
  .field {
    float: left;
    margin: 13px;
    &:last-child {
      margin-left: 0;
    }
  }
}
