// HEADER

// Default component settings
$component-header-height: 60px;
$component-header-width: 100%;
$component-header-background-color: #1190CD;
$component-header-title-font-size: 24px;
$component-header-title-color: #FFF;

// Global component settings
@import 'app/styles/settings';

// Component style
header {
  display: block;
  height:$component-header-height;
  width: $component-header-width;
  background-color: $component-header-background-color;

  .header-title {
    padding: 2px 0;
    margin: 0 30px;
    position: relative;
    top: $component-header-title-font-size/2 + 4;
    float: left;
    line-height: $component-header-title-font-size;
    font-size: $component-header-title-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $component-header-title-color;
  }
}
