// MENU

// Default component settings
$component-menu-item-height: 72px;
$component-menu-item-width: 100%;
$component-menu-item-radius: 4px;
$component-menu-item-collapsed-width: 50px;
$component-menu-item-collapsed-transition: .3s;
$component-menu-item-background-color: #00ACFF;
$component-menu-item-font-size: 11px;
$component-menu-item-color: #FFF;

// Global component settings
@import 'app/styles/settings';

// Component style
.menu {
  width: 100%;
  &.collapsed {
    width: $component-menu-item-collapsed-width;
    padding: 5px;
  }
}
.menu-item {
  display: block;
  height:$component-menu-item-height;
  width: $component-menu-item-width;
  padding: 8px 7px 7px;
  float: left;
  margin: 7px 0;
  transition: width $component-menu-item-collapsed-transition ease-in-out;
  border-radius: $component-menu-item-radius;
  font-size: $component-menu-item-font-size;
  color: $component-menu-item-color;
  &.active,
  &:hover {
    background-color: $component-menu-item-background-color;
  }
  &:first-child {
    margin-top: 0;
  }

  a {
    color: $component-menu-item-color;
  }

  .icon {
    font-size: 30px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
  }

  .label {
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

}
