// HEADER

// Default component settings
$component-logo-color: #FFF;
$component-logo-height: 60px;
$component-logo-width: 107px;
$component-logo-background-color: #00ACFF;

// Global component settings
@import 'app/styles/settings';

// Component style
.logo {
  display: block;
  height:$component-logo-height;
  width: $component-logo-width;
  background-color: $component-logo-background-color;
  float: left;
  color: $component-logo-color;
  a {
    color: $component-logo-color;
  }
  .icon {
    display: block;
    width: 48px;
    height: 38px;
    position: relative;
    top: 11px;
    left: 30px;
    font-size: 37px;
    line-height: 38px;
  }
}
