// HEADER

// Default component settings
$component-sidebar-height: auto;
$component-sidebar-width: 107px;
$component-sidebar-collapsed-width: 50px;
$component-sidebar-collapsed-transition: .3s;
$component-sidebar-background-color: #094E6E;
$component-sidebar-font-size: 11px;
$component-sidebar-color: #FFF;

// Global component settings
@import 'app/styles/settings';

// Component style
.sidebar {
  display: block;
  width: 100%;
  flex: 0 0 $component-sidebar-width;
  max-width: $component-sidebar-width;
  padding: 15px 8px;
  float: left;
  transition: width $component-sidebar-collapsed-transition ease-in-out;
  background-color: $component-sidebar-background-color;
  font-size: $component-sidebar-font-size;
  color: $component-sidebar-color;

  a {
    color: $component-sidebar-color;
  }

  &.left {
    order: 1;
  }
  &.collapsed {
    width: $component-sidebar-collapsed-width;
    padding: 5px;
  }
}
