.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  min-width: 1100px
 }

.page-content {
  display: flex;
  flex: 1 100%;
  order: 2;
  min-height: 550px;
}

.page-main {
  max-width: 1138px;
  min-height: 500px;
  display: flex;
  flex: 1 100%;
  order: 2;
  margin: 16px 18px 0;
}
