// HEADER

// Default component settings
$component-button-color: #FFF;
$component-button-height: 32px;
$component-button-width: 144px;
$component-button-font-size: 14px;
$component-button-icon-size: 14px;
$component-button-border-radius: 2px;
$component-button-background-color: #00ACFF;
$component-button-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.12);;

// Global component settings
@import 'app/styles/settings';

// Component style
.button {
  height:$component-button-height;
  display: inline-block;
  padding: 8px;
  border-radius: $component-button-border-radius;
  font-size: $component-button-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $component-button-color;
  background-color: $component-button-background-color;
  box-shadow: $component-button-shadow;

  .label {
    float: left;
  }

  .icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    position: relative;
    float: left;
    font-size: $component-button-icon-size;
  }
}
