// PANEL

// Default component settings
$component-panel-background-color: #F9F9F9;
$component-panel-background-color-light: #FFF;
$component-panel-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
$component-panel-color: #FFF;

// Global component settings
@import 'app/styles/settings';

// Component style
.panel {
  border-radius: 2px;
  background-color: $component-panel-background-color;
  box-shadow: $component-panel-shadow;
  padding: 15px;
  margin-left: 20px;
  &:first-child {
    margin-left: 0;
  }
  &.no-horizontal-padding {
    padding: 15px 0;
  }
  &.fluid {
    flex: 1;
    width: 100%;
  }
  &.full {
    margin: 15px 0;
    width: 100%;
  }
  &.light {
    background-color: $component-panel-background-color-light;
  }
  &.snap-bottom {
    border-radius: 2px 2px 0 0;
    padding-bottom: 0;
  }
  .filter-box {
    display: flex;    
  }
  &.scroll,
  .scroll {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
